# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules

# this would be useful if it worked.
# !/node_modules/react-native-bluetooth-cross-platform/android/src/main/java/com/rctunderdark

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# android
/android/build
/android/app/build
/android/.gradle

# keystore
/**/*.keystore

# React Native Tools
/.vscode/.react

# Android Studio
/.idea

# just ignore
/ignore
